html{
    background-color: #E5E7DF;
}

body{
    margin: 0, 0, 0, 0;
}

section{
    margin-top: 2em;
    margin-left: 4em;
    margin-bottom: 2em;
}

header{
    background-color: #B8D8E9;
    margin: 0, 0, 0, 0;
    border-color:#DCA7A9;
    border-width: 10px;
    border-style:dashed; 
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    padding: 1em;
    color:#567A8B;
    margin: 0, 0, 0, 0;
}

p{
    font-size: 2em;
    font-family: calibri, sans-serif;
    color:#8B6078;
    background-color: #E5E7DF;
    padding: 1em, 1em, 1em, 4em;
    margin-left: 40%;
}

img{
    max-width: 30%;
    max-height: 30%;
    display: block;
    float: left;
}